{% extends 'base.html' %}
{% block body %}

    <div class="col-3">
        <div class="card" style="background: #b8daff">
            {% with total_de_contatos=perfil_logado.contatos.count %}
                {% if total_de_contatos %}
                    <div class="card-header text-center">
                        <strong>Amigos</strong>
                    </div>
                    {% for contato in perfil_logado.contatos.all %}
                        {% if contato.usuario.is_active %}
                            <ul class="list-group list-group-flush">
                                <li>
                                    <a href="{% url 'exibir' contato.id%}" class="list-group-item">
                                        {{ contato.nome }} // {{ contato.email }}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="card" style="background: #ffffff">
                        <div class="card-header text-center">
                            <strong>Sem Amigos</strong>
                        </div>

                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="col-6 border bg-light">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <strong>Timeline</strong>
            </div>
            <div>
                {% if posts %}
                    {% for post in posts %}
                        <p class="text-muted">{{ post.data }}</p>
                        <div class="card card-body">
                            <a href="{% url 'exibir' post.perfil.id %}">{{ post.perfil.nome }}</a>
                            {% if post.foto %}
                                {{ post.texto }}
                                <img src="{{ post.foto.url }}"><br/>
                            {% else %}
                                {{ post.texto }}<br/>
                            {% endif %}
                        </div>
                        {% if perfil_logado == post.perfil %}
                            <a href="{% url 'exluir_post' post.id %}">Excluir post</a>
                        {% endif %}
                        <hr/>
                    {% endfor %}
                {% endif %}
                <p class="text-center" style="margin-top: 30px"><a class="btn btn-primary" href="{% url 'novo_post' %}">Novo post</a></p>
            </div>
        {% include 'pagination.html' %}
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="background: #b8daff">
            {% if perfil_logado.convites_recebidos.count %}
                <div class="card-header text-center">
                    <strong>Você tem {{ perfil_logado.convites_recebidos.count }} convite{{ perfil_logado.convites_recebidos.count|pluralize }} aguardando aprovação</strong>
                </div>
                <ul class="list-group">
                    {% for convite in perfil_logado.convites_recebidos.all %}
                        <li class="list-group-item">
                            {{ convite.solicitante.nome }}
                            <div class="float-right">
                                <a href="{% url 'aceitar' convite.id %}" class="btn btn-success" role="button">Aceitar</a>
                                <a href="{% url 'recusar' convite.id %}" class="btn btn-danger" role="button">Recusar</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
               <div class="card" style="background: #ffffff">
                   <div class="card-header text-center">
                       <strong>Sem Convites</strong>
                   </div>
               </div>
            {% endif %}
        </div>
    </div>
{% endblock %}