{% extends 'base.html' %}
{% load i18n %}
{% block body %}
    <div class="col-12 border bg-light">
        <div class="panel panel-default">
            <h3 class="text-center">Todos os Perfis</h3>
            <div>
                {% if perfis %}
                    {% for perfil in perfis %}
                        <div class="card card-body text-center" style="margin-block-end: 3px">
                            <a href="{% url 'exibir' perfil.perfil.id %}">{{ perfil.perfil.nome }} // {{ perfil.email }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <center>{{ message }}</center>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-12" style="margin-bottom: 10px; margin-top: 10px">
        <a class="btn btn-primary" href="{% url 'listar_perfis' %}">{% trans "Pesquisar usuário" %}</a>
        <a class="btn btn-primary float-lg-right" href="{% url 'novo_post' %}">{% trans "Nova publicação" %}</a>
    </div>

    <div class="col-3">
        <div class="card" style="background: #b8daff">
            {% with total_de_contatos=perfil_logado.contatos.count %}
                {% if total_de_contatos %}
                    <div class="card-header text-center">
                        <strong>{% trans "Amigos" %}</strong>
                    </div>
                    {% for contato in perfil_logado.contatos.all %}
                        {% if contato.usuario.is_active %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-flush">
                                    <a href="{% url 'exibir' contato.id%}" class="list-group-item">
                                        {{ contato.nome }} // {{ contato.email }}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="card" style="background: #ffffff">
                        <div class="card-header text-center">
                            <strong>{% trans "Sem Amigos" %}</strong>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="col-6 border bg-light">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <strong>Timeline</strong>
            </div>
            <div>
                {% if posts %}
                    {% for post in posts %}
                        <p class="text-muted">{{ post.data }}</p>
                        <div class="card card-body" style="margin-bottom: 10px">
                            <a href="{% url 'exibir' post.perfil.id %}">{{ post.perfil.nome }}</a>
                            {% if post.foto %}
                                {{ post.texto }}<hr/>
                                <img class="card-img" src="{{ post.foto.url }}" width="400 px"><br/>
                            {% else %}
                                {{ post.texto }}<br/>
                            {% endif %}
                        </div>
                        {% if perfil_logado == post.perfil %}
                            <a class="btn btn-outline-danger" href="{% url 'exluir_post' post.id %}">{% trans "Excluir post" %}</a>
                        {% endif %}
                        <hr/>
                    {% endfor %}
                {% endif %}
            </div>
        {% include 'posts_pagination.html' %}
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="background: #b8daff">
            {% if perfil_logado.convites_recebidos.count %}
                <div class="card-header text-center">
                    <strong>
                        {% trans "Você tem" %} {{ perfil_logado.convites_recebidos.count }}
                        {% trans "convite" %}{{ perfil_logado.convites_recebidos.count|pluralize }}
                        {% trans "aguardando aprovação" %}
                    </strong>
                </div>
                <ul class="list-group">
                    {% for convite in perfil_logado.convites_recebidos.all %}
                        <li class="list-group-item list-group-flush">
                            {{ convite.solicitante.nome }}
                            <div class="float-right">
                                <a href="{% url 'aceitar' convite.id %}" class="btn btn-success" role="button">{% trans "Aceitar" %}</a>
                                <a href="{% url 'recusar' convite.id %}" class="btn btn-danger" role="button">{% trans "Recusar" %}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
               <div class="card" style="background: #ffffff">
                   <div class="card-header text-center">
                       <strong>{% trans "Sem Convites" %}</strong>
                   </div>
               </div>
            {% endif %}
        </div>
    </div>
{% endblock %}